@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Overpass", sans-serif;
  color: white;
  background-color: #121417;
  display: block;
}

#container {
  background-color: #252d37;
  height: 350px;
  width: 350px;
  margin: 4em auto;
  border-radius: 2em;
  padding: 30px;
  margin-top: 12rem;
}

#container .icon {
  border-radius: 50%;
  background-color: #3e4b5b;
  border: none;
  margin: 0.25em;
  height: 48px;
  width: 48px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#container .icon.icon:hover {
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#container h1 {
  color: white;
}

#container p {
  color: #959eac;
  font-size: 15px;
  line-height: 1.5em;
}

#container .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .rate a {
  background-color: #3e4b5b;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  opacity: 50%;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#container .rate .rate:hover a {
  opacity: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#container .rate a:hover ~ a {
  opacity: 50%;
}

#container .rate a.active {
  opacity: 100%;
  background-color: #fb7413;
  -webkit-transition: opacity, background-color 0.5s;
  transition: opacity, background-color 0.5s;
}

#container input[type="submit"] {
  width: 350px;
  margin-top: 30px;
  padding: 16px;
  color: white;
  background-color: #fb7413;
  cursor: pointer;
  text-align: center;
  letter-spacing: 8px;
  border-radius: 2em;
  border: none;
}

#container .hidden {
  visibility: hidden;
  display: none;
}

#container .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .result .score {
  border-radius: 2em;
  background-color: #3e4b5b;
  color: #fb7413;
  padding: 5px 20px 5px 20px;
  margin: 20px auto;
}

#container .result .score.score-img {
  margin-top: 10px;
}

#container .thanks {
  text-align: center;
  margin-top: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */